@import url('https://fonts.googleapis.com/css?family=Simonetta&display=swap');
body{
	background: url("/static/img/login.jpg")no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper{
	display: flex;
	position: relative;
	}

.wrapper .sidebar{
	position: fixed;
	width: 200px;
	height: 100%;
	background: #154360;
	padding: 0px 0;
}

.wrapper .sidebar img{
	width: 200px;
}

.wrapper .sidebar ul li{
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-top: 1px solid rgba(225,225,225,0.05);
}


.wrapper .sidebar ul li a{
	color: #D4E6F1;
	display: block;
}

.wrapper .sidebar ul li a .fas{
	width: 25px;
}

.wrapper .sidebar ul li:hover{
	background: #5499C7;
}

.form-container{
	text-align: center;
	border: 3px solid #C89C5B;
	border-radius: 10px;
	padding: 50px 100px;
	margin-top: 5vh;
}


.form-container button{
	background-color: #C89C5B;
}

.login-image{
	margin-top: 10vh;
}

.login-image img{
    margin: auto;    
    display: block;
}