@import url('https://fonts.googleapis.com/css?family=Simonetta&display=swap');
body{
	background: url("/static/img/login.jpg")no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper{
	display: flex;
	position: relative;
	}

.wrapper .sidebar{
	position: fixed;
	width: 200px;
	height: 100%;
	background: #154360;
	padding: 0px 0;
}

.wrapper .sidebar img{
	width: 200px;
}

.wrapper .sidebar ul li{
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-top: 1px solid rgba(225,225,225,0.05);
}

.wrapper .sidebar ul li a{
	color: #D4E6F1;
	display: block;
}

.wrapper .sidebar ul li a .fas{
	width: 25px;
}

.wrapper .sidebar ul li:hover{
	background: #5499C7;
}

.login{
	text-align:  center;
	width: 270;
	height: 170px;
	background-color: black;
	padding: 30px;
	border-radius: 10px;
	border:1px solid #dbb15d;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.logo{
	text-align: center;
	position: relative;
}

.loginpage{
	text-align: center;
}

.login input{
	border: 1px solid #dbb15d;
	border-radius: 10px;
}

.loginbutton button{
	background-color: #dbb15d; /* Green */
  	border: none;
  	border-radius: 10px;
}