	<div class="loginpage">
	<img src="/static/img/lol-logo-v2.png" width="400" alt="League of Legends Logo">
<div class="login" ng-controller="loginCtrl">
		<div class=loginvalue>
		<input type="text" id="username" ng-model="username" placeholder='Nombre de trolleador'><br>
	</div>
		<br>
		<div class=loginvalue>
		<input type="password" id="password" ng-model="password" placeholder='Contraseña'><br>
	</div>
	<br>
		<div class=loginbutton>
			<button type="button" ng-click="submit()">Iniciar sesión</button>
		</div>
</div>
</div>

<div class="container">
 <div class="row justify-content-center">
    <div class="col-2">
      One of two columns
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs12"> </div>
    <div class="col-md-4 col-sm-4 col-xs12"> 
      <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    </div>
<div class="col-md-4 col-sm-4 col-xs12"> </div>
  </div>
</div>