	<div class="loginpage">
	<img src="/static/img/lol-logo-v2.png" width="400" alt="League of Legends Logo">
<div class="login" ng-controller="loginCtrl">
		<div class=loginvalue>
		<input type="text" id="username" ng-model="username" placeholder='Nombre de trolleador'><br>
	</div>
		<br>
		<div class=loginvalue>
		<input type="password" id="password" ng-model="password" placeholder='Contraseña'><br>
	</div>
	<br>
		<div class=loginbutton>
			<button type="button" ng-click="submit()">Iniciar sesión</button>
		</div>
</div>
</div>